.body {
	background: url("../images/background/1366x768.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.main-axa {
		padding: 0 10px;
		width: 750px;
		margin: 0 -60px;
}

.navbar-axa {
	margin-top:-70px;
	background-color: white;
	border-radius: none;
	border: none;
}

.logo-nav {
	height: 100%;
	width: calc(100vh * 2/6);
	float: right;
	margin: 15px;
}

.navbar-header {
	float: right;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #065535;
	color: #FFFFFF;
	text-align: center;	
}

.fo {
	font-size: 1.2em;
	border: solid #FFFFFF 2px;
	border-radius: 5px;
	height: 100%;
	width: calc(100vw * 5/9);
	-webkit-font-size:1.2em;
	-moz-font-size:1.2em;
	-o-font-size:1.2em;

}

button.btn {
	background: linear-gradient(-600deg, #FFFFFF 88%, #065535 12%);
	border: 1px solid #065535;
	border-radius: 8px;
	width: 100px;
	-webkit-font-size: 18px;
	-webkit-border-radius: 8px;
}

.btn-axa { font-size: 1.2em;  cursor: no-drop; }

.rnd {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color: #222;
	color: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

.rnd-ls {
	height: 25px;
	width: 25px;
	border-radius: 25px;
	font-size: 2px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius:25px;
}

.rnd-green {
	background-color: #065535;
	color: #FFFFFF;
}

.fa-key:before {
	line-height: 25px;
}

.fa-globe:before {
	line-height: 25px;
}

.fa-key,.rnd,.rnd-ls,.rnd-green {float: left;}

.text-justify {
	margin-left: -35px;
	font-size: 1.2em;
}

.my-1 {
	margin-top: -20px;
}

.copyright {
	font-size: 1.2em;
}

.text-table {
	left: 1px;
	right: 1px;
	margin: 0 -30px 10px;
	font-size: 1.2em;
}

@media screen and (max-width: 2460px) {
	.text-justify {
		margin-left: -35px;
		font-size: 1.5em !important;
	}

	.pad-video {
		margin-left: -130px;
	}

	.text-table {
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
		font-size: 1.5em !important;
	}

	.fo {
		font-size: 1.5em;
		border: solid #FFFFFF 2px;
		border-radius: 5px;
		height: 100%;
		width: 80%;
		-webkit-font-size:1.2em;
		-moz-font-size:1.2em;
		-o-font-size:1.2em;

	}

	.fo .footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: calc(100vh * 1/9);
		background-color: #065535;
		color: #FFFFFF;
		text-align: center;	
	}

	.copyright {
		font-size: 1.5em !important;
	}

	button.btn {
		background: linear-gradient(-600deg, #FFFFFF 88%, #065535 12%);
		border: 1px solid #065535;
		border-radius: 8px;
		width: 150px;
		height: 35px;
		margin-top: 10px;
		margin-left: -15px;
		-webkit-font-size: 18px;
		-webkit-border-radius: 8px;
	}

	.btn-axa { font-size: 1.1em;  cursor: no-drop; }
}

@media screen and (max-width: 1640px) {
	.pad-video {
		margin-left: -80px;
	}
	.text-justify {
		margin-left: -35px;
		font-size: 1.1em !important;
	}

	.text-table {
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
		font-size: 1.1em !important;
	}

	button.btn {
		background: linear-gradient(-600deg, #FFFFFF 88%, #065535 12%);
		border: 1px solid #065535;
		border-radius: 8px;
		width: 150px !important;
		height: 40px;
		-webkit-font-size: 18px;
		-webkit-border-radius: 8px;
	}

	.btn-axa { font-size: 1.1em;  cursor: no-drop; }

	.ml {
		margin-left: 100px;
	}

	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #065535;
		color: #FFFFFF;
		text-align: center;	
	}

	.fo {
		font-size: 1.2em;
		border: solid #FFFFFF 2px;
		border-radius: 5px;
		height: 100%;
		width: 70%;
		-webkit-font-size:1.2em;
		-moz-font-size:1.2em;
		-o-font-size:1.2em;
	}
	
}


@media screen and (max-width: 700px) and (orientation: portrait) {
	.body {
		background: url("../images/background/ip-new.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	.pad-video {
		margin-left: -10px;
	}

	.navbar-axa {
		width: 100%;
		height: auto;
	}
	.logo-nav {
		width: 150px;
		float: right;
	}
	.fo {
	font-size: 0.9em !important;
	border: solid #FFFFFF 2px;
	border-radius: 5px;
	width: 100%;
	-webkit-font-size:12px;
	-moz-font-size:12px;
	-o-font-size:12px;

	}

	.text-justify {
		font-size: 0.9em !important;
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
	}
	.text-table {
		font-size: 0.9em !important;
	}

	button.btn {
		font-size: 0.8em !important;
		background: linear-gradient(-600deg, #FFFFFF 88%, #065535 12%);
		border: 1px solid #065535;
		border-radius: 0.7em;
		width: 140px !important;
		height: 30px;
		margin-top: 10px;
		margin-left: -15px;
		-webkit-font-size: 0.7em !important;
		-webkit-border-radius: 0.7em !important;
	}

	.btn-axa { font-size: 1.2em;  cursor: no-drop; }

	.rnd {
		display: inline-block;
		height: 10px;
		width: 10px;
		border-radius: 10px;
		background-color: #222;
		color: #FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
	}

	.rnd-ls {
		height: 15px;
		width: 15px;
		border-radius: 25px;
		font-size: 2px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius:25px;
	}

	.rnd-green {
		background-color: #065535;
		color: #FFFFFF;
	}

	.fa-key:before {
	line-height: 15px;
	}

	.fa-globe:before {
		line-height: 15px;
	}

	.fa-key,.rnd,.rnd-ls,.rnd-green {float: left;}

	.copyright {
		font-size: 0.9em !important;
	}

	.footer {
		width: 100%;
	}
}

@media screen and (max-width: 700px) and (orientation:landscape) {
	.body {
		background: url("../images/background/ip-new.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}
	.navbar-axa {
		width: 100%;
		height: auto;
	}
	.logo-nav {
		width: 150px;
		float: right;
	}
	.fo{
		font-size: 0.9em !important;
		width: calc(100vw * 4/4);

	}

	.text-justify {
		font-size: 1em !important;
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
	}

	.text-table {
		font-size: 0.9em !important;
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
	}

	button.btn {
		font-size: 0.8em !important;
		background: linear-gradient(-600deg, #FFFFFF 88%, #065535 12%);
		border: 1px solid #065535;
		border-radius: 0.7em;
		width: 140px;
		height: 30px;
		margin-top: 10px;
		margin-left: -15px;
		-webkit-font-size: 0.7em !important;
		-webkit-border-radius: 0.7em !important;
	}

	.btn-axa { font-size: 1.2em;  cursor: no-drop; }

	.rnd {
		display: inline-block;
		height: 10px;
		width: 10px;
		border-radius: 10px;
		background-color: #222;
		color: #FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
	}

	.rnd-ls {
		height: 15px;
		width: 15px;
		border-radius: 25px;
		font-size: 2px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius:25px;
	}

	.rnd-green {
		background-color: #065535;
		color: #FFFFFF;
	}

	.fa-key:before {
	line-height: 15px;
	}

	.fa-globe:before {
		line-height: 15px;
	}

	.fa-key,.rnd,.rnd-ls,.rnd-green {float: left;}

	.footer {
		width:100%;
	}
}