.body {
<<<<<<< HEAD
	background: url("../images/background/1366x768.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.main-axa {
=======
		background: url("../images/background/1366x768.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}
	.wrapper {
		margin: 0 5%;
		width: 100%;
	}

	.navbar-axa {
		background-color: #FFFFFF;
		position: fixed;
		height: 75px;
	}

	.navbar-axa-img {
		height: 25px;
	}

	.logo {
		width: 250px;
		height: auto;
		padding: 5px 5px;
		float: right;
	}

	.main-axa {
		margin: 5em 5em;
		width: 108em;
		margin-left: 0;
		margin-top: 5px;
	}

	.up-text {
		width: 90%;
		padding: 0 2%;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 3em;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		padding: 0 10px;
		width: 80%;
		margin: 0 10%;
	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 3em;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.down--btn {
		margin-left: -80px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 25px;
	    width: 25px;
	    line-height: 25px;
	    -moz-border-radius: 20px;
	    border-radius: 25px;
	    font-size: 20px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 200px;
		height: 35px;
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 14px;
		padding: 5px 5px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 19px;
		padding: 0 26px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: #003366;
		   color: white;
		   height: 10%;
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 3em;
		text-align: center;
	}

	.border-footer {
		border: 0.1em solid #FFFFFF;
		border-radius: 5px;
		width: 40%;
	}
@media screen and (max-width: 1640px) {
	.body {
		background: url("../images/background/1366x768.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}
	.wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.navbar-axa {
		background-color: #FFFFFF;
		position: fixed;
		height: 75px;
	}

	.navbar-axa-img {
		height: 25px;
	}

	.logo {
		width: 250px;
		height: auto;
		padding: 5px 5px;
		float: right;
	}

	.main-axa {
		margin: 5em 5em;
		width: 108em;
		margin-left: 0;
		margin-top: 2%;
	}

	.up-text {
		width: 635px;
		padding: 0 25px;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 15px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
>>>>>>> 153a8d8204f52754eaee14f4dc2f53730c492097
		padding: 0 10px;
		width: 750px;
		margin: 0 -60px;
}

.navbar-axa {
	margin-top:-70px;
	background-color: white;
	border-radius: none;
	border: none;
}

.logo-nav {
	height: 100%;
	width: calc(100vh * 2/5);
	float: right;
}

<<<<<<< HEAD
.navbar-header {
	float: right;
}
=======
	.border-footer {
		border: 1px solid #FFFFFF;
		border-radius: 5px;
		width: 950px;
	}
>>>>>>> 153a8d8204f52754eaee14f4dc2f53730c492097

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #003366;
	color: #FFFFFF;
	text-align: center;	
}

.fo {
	font-size: 1.2em;
	border: solid #FFFFFF 2px;
	border-radius: 5px;
	height: 100%;
	width: calc(100vw * 5/9);
	margin: 10px 300px;
	-webkit-font-size:1.2em;
	-moz-font-size:1.2em;
	-o-font-size:1.2em;

}

button.btn {
	background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
	border: 1px solid #003366;
	border-radius: 8px;
	width: 250px;
	-webkit-font-size: 18px;
	-webkit-border-radius: 8px;
}

.btn-axa { font-size: 1.2em;  cursor: no-drop; }

.rnd {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color: #222;
	color: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

.rnd-ls {
	height: 25px;
	width: 25px;
	border-radius: 25px;
	font-size: 2px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius:25px;
}

.rnd-green {
	background-color: #003366;
	color: #FFFFFF;
}

.fa-phone:before {
	line-height: 25px;
}

.fa-globe:before {
	line-height: 25px;
}

.fa-phone,.rnd,.rnd-ls,.rnd-green {float: left;}

.text-justify {
	margin-left: -35px;
	font-size: 1.2em;
}

.my-1 {
	margin-top: -20px;
}

.copyright {
	font-size: 1.2em;
}

.text-table {
	left: 1px;
	right: 1px;
	margin: 0 -30px 10px;
	font-size: 1.2em;
}

@media screen and (max-width: 2460px) {
	.text-justify {
		margin-left: -35px;
		font-size: 1.5em !important;
	}

	.pad-video {
		margin-left: 10px;
	}

	.text-table {
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
		font-size: 1.5em !important;
	}

	.fo {
		font-size: 1.5em;
		border: solid #FFFFFF 2px;
		border-radius: 5px;
		height: 100%;
		margin: 10px 450px;
		-webkit-font-size:1.2em;
		-moz-font-size:1.2em;
		-o-font-size:1.2em;

	}

	.fo .footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: calc(100vh * 1/9);
		background-color: #003366;
		color: #FFFFFF;
		text-align: center;	
	}

	.copyright {
		font-size: 1.5em !important;
	}

	button.btn {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 8px;
		width: 300px;
		height: 55px;
		margin: 40px;
		-webkit-font-size: 18px;
		-webkit-border-radius: 8px;
	}

	.btn-axa { font-size: 1.5em;  cursor: no-drop; }
}

@media screen and (max-width: 1640px) {
	.pad-video {
		margin-left: -80px;
	}
	.text-justify {
		margin-left: -35px;
		font-size: 1.1em !important;
	}

	.text-table {
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
		font-size: 1.1em !important;
	}

	button.btn {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 8px;
		width: 200px !important;
		height: 40px;
		-webkit-font-size: 18px;
		-webkit-border-radius: 8px;
	}

	.btn-axa { font-size: 1.1em;  cursor: no-drop; }

	.ml {
		margin-left: 100px;
	}

	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #003366;
		color: #FFFFFF;
		text-align: center;	
	}

	.fo {
		font-size: 1.2em;
		border: solid #FFFFFF 2px;
		border-radius: 5px;
		height: 100%;
		width: calc(100vw * 5/9);
		margin: 10px 300px;
		-webkit-font-size:1.2em;
		-moz-font-size:1.2em;
		-o-font-size:1.2em;
	}
	
}


@media screen and (max-width: 700px) and (orientation: portrait) {
	.body {
		background: url("../images/background/ip-op.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	.pad-video {
		margin-left: -10px;
	}

	.navbar-axa {
		width: 100%;
		height: auto;
	}
	.logo-nav {
		width: 150px;
		float: right;
	}
	.fo {
	font-size: 10px;
	border: solid #FFFFFF 2px;
	border-radius: 5px;
	width: 100%;
	margin: 10px 0px;
	-webkit-font-size:12px;
	-moz-font-size:12px;
	-o-font-size:12px;

	}

	.text-justify {
		font-size: 0.9em !important;
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
	}
	.text-table {
		font-size: 0.9em !important;
	}

	button.btn {
		font-size: 0.8em !important;
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 0.7em;
		width: 140px !important;
		height: 30px;
		margin: 1px ;
		-webkit-font-size: 0.7em !important;
		-webkit-border-radius: 0.7em !important;
	}

	.btn-axa { font-size: 1.2em;  cursor: no-drop; }

	.rnd {
		display: inline-block;
		height: 10px;
		width: 10px;
		border-radius: 10px;
		background-color: #222;
		color: #FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
	}

	.rnd-ls {
		height: 15px;
		width: 15px;
		border-radius: 25px;
		font-size: 2px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius:25px;
	}

	.rnd-green {
		background-color: #003366;
		color: #FFFFFF;
	}

	.fa-phone:before {
	line-height: 15px;
	}

	.fa-globe:before {
		line-height: 15px;
	}

	.fa-phone,.rnd,.rnd-ls,.rnd-green {float: left;}

	.fo {
		font-size: 0.9em !important;
	}

	.copyright {
		font-size: 0.9em !important;
	}

	.footer {
<<<<<<< HEAD
		width: 100%;
=======
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   background-color: #003366;
		   color: white;
		   width: 100%;
		   height: calc(100vw * 0.5/8);
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 9px;
		text-align: center;
		margin-top: 5px;
	}

	.border-footer {
		border: 1px solid #FFFFFF;
	    border-radius: 5px;
	    width: 380px;
>>>>>>> 153a8d8204f52754eaee14f4dc2f53730c492097
	}
}

@media screen and (max-width: 700px) and (orientation:landscape) {
	.body {
		background: url("../images/background/ip-landscape-op.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}
	.navbar-axa {
		width: 100%;
		height: auto;
	}
	.logo-nav {
		width: 150px;
		float: right;
	}
	.fo{
		font-size: 0.9em !important;
		width: calc(100vw * 4/4);
		margin: 0px 0px;

	}

	.text-justify {
		font-size: 1em !important;
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
	}

	.text-table {
		font-size: 0.9em !important;
		left: 1px;
		right: 1px;
		margin: 0 -30px 10px;
	}

	button.btn {
		font-size: 0.8em !important;
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 0.7em;
		width: 140px;
		height: 30px;
		-webkit-font-size: 0.7em !important;
		-webkit-border-radius: 0.7em !important;
	}

	.btn-axa { font-size: 1.2em;  cursor: no-drop; }

	.rnd {
		display: inline-block;
		height: 10px;
		width: 10px;
		border-radius: 10px;
		background-color: #222;
		color: #FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
	}

	.rnd-ls {
		height: 15px;
		width: 15px;
		border-radius: 25px;
		font-size: 2px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius:25px;
	}

	.rnd-green {
		background-color: #003366;
		color: #FFFFFF;
	}

	.fa-phone:before {
	line-height: 15px;
	}

	.fa-globe:before {
		line-height: 15px;
	}

	.fa-phone,.rnd,.rnd-ls,.rnd-green {float: left;}

	.footer {
		width:100%;
	}
<<<<<<< HEAD
}
=======

}
>>>>>>> 153a8d8204f52754eaee14f4dc2f53730c492097
