.body {
		background: url("../images/background/1366x768.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}
	.wrapper {
		margin: 0 5%;
		width: 100%;
	}

	.navbar-axa {
		background-color: #FFFFFF;
		position: fixed;
		height: 75px;
	}

	.navbar-axa-img {
		height: 25px;
	}

	.logo {
		width: 250px;
		height: auto;
		padding: 5px 5px;
		float: right;
	}

	.main-axa {
		margin: 5em 5em;
		width: 108em;
		margin-left: 0;
		margin-top: 5px;
	}

	.up-text {
		width: 90%;
		padding: 0 2%;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 3em;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		padding: 0 10px;
		width: 80%;
		margin: 0 10%;
	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 3em;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.down--btn {
		margin-left: -80px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 25px;
	    width: 25px;
	    line-height: 25px;
	    -moz-border-radius: 20px;
	    border-radius: 25px;
	    font-size: 20px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 200px;
		height: 35px;
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 14px;
		padding: 5px 5px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 19px;
		padding: 0 26px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: #003366;
		   color: white;
		   height: 10%;
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 3em;
		text-align: center;
	}

	.border-footer {
		border: 0.1em solid #FFFFFF;
		border-radius: 5px;
		width: 40%;
	}
@media screen and (max-width: 1640px) {
	.body {
		background: url("../images/background/1366x768.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}
	.wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.navbar-axa {
		background-color: #FFFFFF;
		position: fixed;
		height: 75px;
	}

	.navbar-axa-img {
		height: 25px;
	}

	.logo {
		width: 250px;
		height: auto;
		padding: 5px 5px;
		float: right;
	}

	.main-axa {
		margin: 5em 5em;
		width: 108em;
		margin-left: 0;
		margin-top: 2%;
	}

	.up-text {
		width: 635px;
		padding: 0 25px;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 15px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		padding: 0 10px;
		width: 750px;
		margin: 0 -60px;
	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 15px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.down--btn {
		margin-left: -80px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 25px;
	    width: 25px;
	    line-height: 25px;
	    -moz-border-radius: 20px;
	    border-radius: 25px;
	    font-size: 20px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 200px;
		height: 35px;
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 14px;
		padding: 5px 5px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 19px;
		padding: 0 26px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: #003366;
		   color: white;
		   height: 75px;
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 20px;
		text-align: center;
	}

	.border-footer {
		border: 1px solid #FFFFFF;
		border-radius: 5px;
		width: 950px;
	}

}

@media screen and (max-width: 1230px) and (orientation: portrait) {
	.body {
		background: url("../images/background/ipad-pro.png");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		background-attachment: fixed;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}

	.wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.main-axa {
		margin: 110px -5px auto;
		width: auto;
		margin-top: 15px;
	}

	.up-text {
		width: 1000px;
		padding: 0 6px;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 30px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		position: static;
		margin: 0 -8px;

	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 30px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.down--btn {
		padding: 0 115px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.min-table {
		width: 1000px;
		margin-left: -30px;
	}

	.min-row {
		width: 280px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 35px;
	    width: 35px;
	    line-height: 35px;
	    -moz-border-radius: 35px;
	    border-radius: 35px;
	    font-size: 25px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 350px;
		height: 60px;
		margin: 55px 55px; 
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 25px;
		padding: 10px 15px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 35px;
		padding: 0 26px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: #003366;
		   color: white;
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 16px;
		text-align: center;
		float: left;
		margin: 0 0;
		width: 100%;
	}

	.border-footer {
		padding: 0 0 8px;
		margin: 0 1px;
	}

	.booder--img {
		margin-top: -15px;
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	.body {
		background: url("../images/background/ipad-mini-landscape.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	.navbar-axa {
		background-color: #FFFFFF;
		position: fixed;
		width: 100%;
		height: calc(100% * 0.9/8);
	}

	.navbar-axa-img {
		height: 35px;
	}

	.logo {
		width: 150px;
		height: auto;
		float: left;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}

	.wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.main-axa {
		margin: 110px -5px auto;
		width: auto;
		margin-top: 15px;
	}

	.up-text {
		width: 750px;
		padding: 0 6px;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 20px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		position: static;
		margin: 0 -110px;

	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 20px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.down--btn {
		padding: 0 115px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.min-table {
		width: 550px;
		margin-left: -30px;
	}

	.min-row {
		width: 150px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 25px;
	    width: 25px;
	    line-height: 25px;
	    -moz-border-radius: 20px;
	    border-radius: 25px;
	    font-size: 20px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 200px;
		height: 40px;
		margin: 15px 0; 
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 14px;
		padding: 5px 15px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 18px;
		padding: 0 26px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   height: calc(100vw * 0.5/9);
		   background-color: #003366;
		   color: white;
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 14px;
		text-align: center;
		float: left;
		margin: 0 0;
		width: 100%;
	}

	.border-footer {
		border: 1px solid #FFFFFF;
		border-radius: 5px;
		width: 550px;
	}

}

@media screen and (max-width: 820px) and (orientation: portrait) {
	.body {
		background: url("../images/background/ipad-mini.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		background-attachment: fixed;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}

	.wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.main-axa {
		margin: 110px -5px auto;
		width: auto;
		margin-top: 15px;
	}

	.up-text {
		width: 750px;
		padding: 0 6px;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 25px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		position: static;
		margin: 0 -8px;

	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 25px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.down--btn {
		padding: 0 115px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.min-table {
		width: 750px;
		margin-left: -30px;
	}

	.min-row {
		width: 150px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 25px;
	    width: 25px;
	    line-height: 25px;
	    -moz-border-radius: 20px;
	    border-radius: 25px;
	    font-size: 20px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 250px;
		height: 40px;
		margin: 15px 0; 
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 18px;
		padding: 5px 15px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 25px;
		padding: 0 26px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: #003366;
		   color: white;
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 16px;
		text-align: center;
		float: left;
		margin: 0 0;
		width: 100%;
	}

	.border-footer {
		border: 1px solid #FFFFFF;
		border-radius: 5px;
		width: 450px;
	}

}

@media screen and (max-width: 700px) and (orientation: landscape) {
	.body {
		background: url("../images/background/ip-landscape.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	.navbar-axa {
		background-color: #FFFFFF;
		position: fixed;
		width: 100%;
		height: calc(100% * 0.5/8);
	}

	.navbar-axa-img {
		height: 35px;
	}

	.logo {
		width: 150px;
		height: auto;
		float: left;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}

	.wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.main-axa {
		width: 80px;
		margin-top: -15px;
		margin-left: -15px;
	}

	.main-video {
		padding-left: 42px;
	}

	.up-text {
		width: 350px;
		padding: 0 6px;
		padding-top: 5px;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 11px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		position: static;
		margin: 0 -200px;

	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 11px;
		color: black;
		text-shadow: 5px 5px 5px black;
		text-align: justify;
	}

	.down--btn {
		padding: 0 70px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.min-table {
		width: 350px;
		margin-left: -30px;
	}

	.min-row {
		width: 150px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 15px;
	    width: 15px;
	    line-height: 15px;
	    -moz-border-radius: 20px;
	    border-radius: 15px;
	    font-size: 10px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 150px;
		height: 20px;
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 11px;
		padding: 1px 5px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 11px;
		padding: 0 5px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   background-color: #003366;
		   color: white;
		   width: 100%;
		   height: calc(100vw * 0.5/8);
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 9px;
		text-align: center;
		margin-top: 5px;
	}

	.border-footer {
		border: 1px solid #FFFFFF;
	    border-radius: 5px;
	    width: 380px;
	}

}

@media screen and (max-width: 700px) and (orientation: portrait) {
	.body {
		background: url("../images/background/ip-op.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	b {
		color: #003366;
	}

	.bb {
		color: #FFFFFF;
	}

	.wrapper {
		margin: 0 auto;
		width: 100%;
	}

	.navbar-axa {
		background-color: #FFFFFF;
		position: fixed;
		width: 100%;
		height: calc(100vh * 0.5/8);
	}

	.navbar-axa-img {
		height: 35px;
	}

	.logo {
		width: 150px;
		height: auto;
		padding: 10px 10px;
		float: left;
	}

	.main-axa {
		margin: 5px -5px;
		width: 80px;'
		margin-top: 15px;
	}

	.up-text {
		width: 55vh;
		padding: 0 6px;
		padding-top: 15px;
	}

	.up-text p {
		font-family: 'MyriadPro-Regular';
		font-size: 15px;
		color: black;
		text-shadow: 0px -1px 0px #FFFFFF;
		text-align: justify;
	}

	.main-video {
		position: static;
		margin: 0 -200px;

	}

	.down-text {
		font-family: 'MyriadPro-Regular';
		font-size: 15px;
		color: black;
		text-align: justify;
	}

	.box {
		background-color: #f2f2f2;
		opacity: 0.9;
	}

	.down--btn {
		padding: 0 70px;
	}

	.down--btn-i {
		margin: 0 15px;
	}

	.min-table {
		width: 373px;
		margin-left: -39px;
		margin-top: 2px;
	}

	.min-row {
		width: 150px;
	}

	.round {
		display: inline-block;
		height: 10px;
		width: 10px;
		line-height: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #222;    
		color: #FFFFFF;  
	}
	.round.round-lg {
	    height: 25px;
	    width: 25px;
	    line-height: 25px;
	    -moz-border-radius: 20px;
	    border-radius: 25px;
	    font-size: 20px;
	    text-align: center;
	}

	.round-blue {
	    background-color: #003366;
	}

	.left--lebel {
		background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
		border: 1px solid #003366;
		border-radius: 5px;
		width: 250px;
		height: 40px;
	}
	.label-text {
		font-family: 'MyriadPro-Regular';
		font-size: 18px;
		padding: 5px 15px;
	}

	.label-text-ii {
		font-family: 'MyriadPro-Regular';
		font-size: 25px;
		padding: 0 26px;
		padding-top: 2px;
	}

	.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   background-color: #003366;
		   color: white;
		   width: 100%;
		   height: calc(100vw * 1/8);
	}

	.footer p {
		color: #FFFFFF;
		font-family: 'MyriadPro-Regular';
		font-size: 11px;
		text-align: center;
		margin-top: 5px;
	}

	.border-footer {
		padding: 0 5px 5px;
		margin: 5px 5px;
	}

}
